{% extends "base.html" %}
{#% import "bootstrap/wtf.html" as wtf %#}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
</div>
{#{ wtf.quick_form(form, form_type="horizontal", horizontal_columns=('sm', 2, 4)) }#}
<div class="container">
<form method="POST" class="form-group" enctype="multipart/form-data" action="knn">
  <label for="csv_file">CSV file input</label>
  <input type="file" name="csv_file">
  <p class="help-block">Select a single-column csv file for KNN evaluation.</p>
  <div class="checkbox">
  <label>
    <input type="checkbox" checked='checked' value="">
    Compute using <code>w2v</code> from the <a href="https://catalog.ldc.upenn.edu/LDC2003T05">English Gigaword</a>
  </label>
  </div>
  <div class="checkbox disabled">
  <label>
    <input type="checkbox" value="" disabled>
    Use something else
  </label>
  </div>
  <button type="submit" class="btn btn-primary">Get neighbors</button>
</form>
<div class="container">
{% endblock content %}
